{include file="public/header" /}
<script type="text/javascript">
    var upload_max = 1;//可上传图片最大数量
</script>

<style>
.btn_new {
 display: inline-block;
 background-color: #0072C6;
 -moz-border-radius: 2px;
 -webkit-border-radius: 2px;
 border: 0;
 color: #FFF;
 padding: 6px 15px;
 font-weight: bold;
 text-transform: capitalize;
 cursor: pointer;
 -webkit-appearance: none;
 border-radius: 4px;
}
</style>
<div id="dcWrap">
    <!--包含公共模版-->
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        
        <div id="urHere"><a href="{:url('index/index')}">管理中心</a><b>></b><strong>编辑文章</strong></div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3>编辑文章</h3>

            <form action="{:url('article/add')}" method="post" enctype="multipart/form-data">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                    <tr>
                        <td width="100" align="right">中文标题(必填)</td>
                        <td>
                            <input type="text" name="title" value="{$item.title}" size="80" class="inpMain" required />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">英文标题(必填)</td>
                        <td>
                            <input type="text" name="title_e" value="{$item.title_e}" size="80" class="inpMain" required />
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">阿拉伯标题(必填)</td>
                        <td>
                            <input type="text" name="title_a" value="{$item.title_a}" size="80" class="inpMain" required />
                        </td>
                    </tr>
                    
                    {if condition="$item['cid'] eq 48"}
                     <tr>
                        <td width="100" align="right">副标题（中文）</td>
                        <td>
                            <input type="text" name="stitle" size="40" class="inpMain" value="{$item.stitle}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">副标题（英文）</td>
                        <td>
                            <input type="text" name="stitle_e" size="40" class="inpMain" value="{$item.stitle_e}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">副标题（阿拉伯）</td>
                        <td>
                            <input type="text" name="stitle_a" size="40" class="inpMain" value="{$item.stitle_a}"/>
                        </td>
                    </tr>
                    
                    <tr>
                        <td width="100" align="right">排序<br/>数值大的在前面</td>
                        <td>
                            <input type="text" name="color" size="40" class="inpMain" value="{$item.color}"/>
                        </td>
                    </tr>
                    
                    {/if}
                    
                    {if condition="$item['cid'] eq 50"}
                     <tr>
                        <td width="100" align="right">副标题（中文）</td>
                        <td>
                            <input type="text" name="stitle" size="40" class="inpMain" value="{$item.stitle}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">副标题（英文）</td>
                        <td>
                            <input type="text" name="stitle_e" size="40" class="inpMain" value="{$item.stitle_e}"/>
                        </td>
                    </tr>
                    <tr>
                        <td width="100" align="right">副标题（阿拉伯）</td>
                        <td>
                            <input type="text" name="stitle_a" size="40" class="inpMain" value="{$item.stitle_a}"/>
                        </td>
                    </tr>
                    {/if}
                    
                    
                    {if condition="$item['cid'] eq 49"}
                    
                    <tr>
                        <td align="right">风格分类</td>
                        <td>
                            <select name="author" id='author'  onchange="select_change(this.options[selectedIndex].value)">
                            {volist name='style' id='va'}
                            	<option value="{$va.sid}" {if condition="$item['author'] eq $va['sid']"} selected {/if}>{$va.title}</option>
                            {/volist}	
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td align="right">沙发</td>
                        <td>
                            <select name="ptsofa">
                            <option value="hong" {if condition="$item['ptsofa'] eq 'hong'"} selected {/if}>红</option>
                            <option value="hei" {if condition="$item['ptsofa'] eq 'hei'"} selected {/if}>黑</option>
                            <option value="hui" {if condition="$item['ptsofa'] eq 'hui'"} selected {/if}>灰</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">墙布</td>
                        <td>
                            <select name="ptwall">
                            <option value="lan" {if condition="$item['ptwall'] eq 'lan'"} selected {/if}>蓝</option>
                            <option value="hui" {if condition="$item['ptwall'] eq 'hui'"} selected {/if}>灰</option>
                            <option value="kafei" {if condition="$item['ptwall'] eq 'kafei'"} selected {/if}>咖啡</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">地毯</td>
                        <td>
                            <select name="ptfloor">
                            <option value="pomo" {if condition="$item['ptfloor'] eq 'pomo'"} selected {/if}>泼墨</option>
                            <option value="yuandian" {if condition="$item['ptfloor'] eq 'yuandian'"} selected {/if}>圆点</option>
                            <option value="tiaowen" {if condition="$item['ptfloor'] eq 'tiaowen'"} selected {/if}>条纹</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">墙上模块</td>
                        <td>
                            <select name="ptlighting">
                            <option value="wu" {if condition="$item['ptlighting'] eq 'wu'"} selected {/if}>无</option>
                            <option value="chuantong" {if condition="$item['ptlighting'] eq 'chuantong'"} selected {/if}>传统</option>
                            <option value="zuyun" {if condition="$item['ptlighting'] eq 'zuyun'"} selected {/if}>竹韵</option>
                            <option value="zhuangshi" {if condition="$item['ptlighting'] eq 'zhuangshi'"} selected {/if}>装饰</option>
                            <option value="xiandai" {if condition="$item['ptlighting'] eq 'xiandai'"} selected {/if}>现代</option>
                            <option value="jihe" {if condition="$item['ptlighting'] eq 'jihe'"} selected {/if}>几何</option>
                            <option value="jinzita" {if condition="$item['ptlighting'] eq 'jinzita'"} selected {/if}>金字塔</option>
                            <option value="lianwen" {if condition="$item['ptlighting'] eq 'lianwen'"} selected {/if}>涟纹</option>
                            <option value="bolang" {if condition="$item['ptlighting'] eq 'bolang'"} selected {/if}>波浪</option>
                            </select>
                        </td>
                    </tr>
                    {/if}
                    
                    
                    <input type="hidden" name="cid" value='{$item.cid}'>
                    <tr>
                        <td align="right">简单描述(必填)</td>
                        <td>
                            <textarea type="text" name="description" cols="80" rows="5" class="inpMain">{$item.description}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">英文描述(必填)</td>
                        <td>
                            <textarea type="text" name="description_e" cols="80" rows="5" class="inpMain">{$item.description_e}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">阿拉伯描述(必填)</td>
                        <td>
                            <textarea type="text" name="description_a" cols="80" rows="5" class="inpMain">{$item.description_a}</textarea>
                        </td>
                    </tr>
                    <!--20170523-->
                    {if condition="$item['cid'] neq 48"}
                    <tr>
                        {include file="public/upload" tip="缩略图" /}
                    </tr>
                    {/if}
                    
                    {if condition="$item['cid'] eq 48"}
                    <tr>
                        <td align="right">技术文档(提供下载)</td>
                        <td>
                            <input type="file" name="tech_file" value="{$item.jumpurl}" ></input>{$item.jumpurl}  (不选表示不修改)
                        </td>
                    </tr>
                    {/if}
                    
                    <tr>
                        <td width="80" height="35" align="right">发布时间</td>
                        <td>
                            <input type="text" name="publishtime" value="{$item.publishtime|date='Y-m-d H:i',###}" size="19" class="inpMain date-picker" />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="hidden" name="id" value="{$item.id}">
                            <input class='btn_new' type="submit" value="提 交" />
                            <!-- <span class="btn">提 交</span> -->
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="clear"></div>
    {include file="public/footer" /}
    <div class="clear"></div>
</div>
<script type="text/javascript">
    var art_pro_url = "{:url('article/add')}";
    $.datetimepicker.setLocale('ch');//设置中文
    $(".date-picker").datetimepicker({
      format:"Y-m-d H:i",      //格式化日期
      timepicker:false,    //关闭时间选项
    });
</script>
</body>
</html>
