{include file="public/header" /}
<div id="dcWrap">
    {include file="public/lefter" /}
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">管理中心<b>></b><strong>图片管理</strong><b>></b>图片列表</div>
        <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a data-url="{:url('banner/addstimg')}" href="javascript:;" class="actionBtn">添加</a>私人定制分类图</h3>

			<div class="filter">
                <form action="{:url('banner/stimglist')}" method="post">
                   	 所属分类：
                    <select name="cat_id" id="cat_id">
                        <option value="0">所有分类</option>
                        <option value="ptwall" {if condition="$cat_id_n eq 'ptwall'"} selected {/if}>墙布</option>
                        <option value="ptsofa" {if condition="$cat_id_n eq 'ptsofa'"} selected {/if}>沙发</option>
                        <option value="ptfloor" {if condition="$cat_id_n eq 'ptfloor'"} selected {/if}>地毯</option>
                        <option value="ptlighting" {if condition="$cat_id_n eq 'ptlighting'"} selected {/if}>墙上模块</option>
                    </select>
                   	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 所属系列：
                   	<select name="keyword" id="keyword">
                   	<option value="0">所有系列</option>
                   	{volist name='style' id='va'}
                      <option value="{$va.sid}" {if condition="$keyword_n eq $va.sid"} selected {/if}>{$va.title}</option>
                    {/volist}
                   	</select>
                    <input name="submit" class="btnGray" type="submit" value="筛选"/>
                </form>
            </div>



            <div class="navList">
                <table width="100%" border="0" cellpadding="10" cellspacing="0" class="tableBasic">
                    <tr>
                        <th width="10" align="center">ID</th>
                        <th align="center">标题</th>
                        <th align="center">图片</th>
                        <th align="center">所属分类</th>
                        <th align="center">添加时间</th>
                        <th width="200" align="center">操作</th>
                    </tr>
                    {volist name="list" id="ba"}
                    <tr>
                        <td> {$ba.id}</td>
                        <td align="center"> {$ba.title}</td>
                        
                        <td align="center"> <img src="{$ba.img}" width="50" height="50" /></td>
                        
                        <td align="center"> 
                        {$ba.atitle} / 
<?php 
switch($ba['cate']){
case 'ptwall' : 
	echo '墙布';
	break;
case 'ptsofa' : 
	echo '沙发';
	break;
case 'ptfloor' : 
	echo '地毯';
	break;
case 'ptlighting' : 
	echo '墙上模块';
	break;
default :
	echo '';
	break;
}
?>
                        </td>
                        <td align="center"> {$ba.create_time|date="Y-m-d H:i:s",###}</td>
                        
                        <td align="center">
                        <a class="del btn btn-danger" style="cursor: pointer;" data-id="{$ba.id}">删除</a></td>
                    </tr>
                    {/volist}
                </table>
            </div>
            {$page}
        </div>
    </div>
</div>
<script type="text/javascript">
    $('.actionBtn').click(function(){
        var url = $(this).data('url');
        layer.open({
          title: '添加大图',
          type: 2,
          area: ['700px', '530px'],
          fixed: false, //不固定
          maxmin: true,
          content: url
        });
    });
    $('.edit-flink').click(function(){
        var url = $(this).data('url');
        layer.open({
          title: '修改大图',
          type: 2,
          area: ['700px', '530px'],
          fixed: false, //不固定
          maxmin: true,
          content: url
        });
    });
    $(".del").click(function(){
        var id= $(this).data('id');
        confirms('','是否确认删除id为【'+ id +'】的大图？','',function(){
            $.get("{:url('banner/deleimg')}",{id:id},function(data){
                alertw(data);
            });
        }); 
    })
</script>
</body>
</html>